<!doctype html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>List</title>
</head>
<body>
<h1>Listagem</h1>
<!--READ(Comentario dentro do html)-->

{% for pessoa in pessoa %}
<p>{{pessoa.nome}}</p>
<p>{{pessoa.sobrenome}}</p>
<p>{{pessoa.idade}}</p>
{% endfor %}

</body>
</html>